make-blueprints/leer-playlist.blueprint.json
{
    "name": "Pane Agency Dashboard - Leer Playlist",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": null,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -263,
                    "y": -112
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Pane Agency Leer Playlist"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "spotify:makeAPICall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 766316
            },
            "mapper": {
                "url": "/v1/playlists/{{1.playlistId}}",
                "method": "GET",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 51,
                    "y": -112,
                    "name": "Obtener Datos Playlist"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": []
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "spotify"
                            },
                            "label": "Rejunte List (31lk4cnr5iwzlghhrdfighfsnvyu)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:spotify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": ["GET","POST","PUT","PATCH","DELETE"]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {"name": "key", "type": "text", "label": "Key"},
                            {"name": "value", "type": "text", "label": "Value"}
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {"name": "key", "type": "text", "label": "Key"},
                            {"name": "value", "type": "text", "label": "Value"}
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{2.body}}",
                "status": "200",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 372,
                    "y": -113
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose",
                            "items": [null]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {"min": 100}
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {"name": "key", "type": "text", "label": "Key", "required": true, "validate": {"max": 256}},
                            {"name": "value", "type": "text", "label": "Value", "required": true, "validate": {"max": 4096}}
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {"maxItems": 16}
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
